# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
[Aa]rtifacts/
UserSettings/
# Unity Packages cache (herleidbaar)
Packages/PackageCache/

# VS/JetBrains
.vs/
*.sln
*.csproj
*.unityproj
*.pidb
*.user
*.opendb
*.VC.db
.idea/
*.iml
